[submodule "optee_os"]
	path = optee_os
	url = git@github.com:jefg89/optee_os.git
[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = git@github.com:jefg89/arm-trusted-firmware.git
[submodule "buildroot"]
	path = buildroot
	url = git@github.com:buildroot/buildroot.git
